<html>
  <head>
    <meta charset="utf-8">
    <title>Head control</title>
    <link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.css">
    <style>
    .rotate180 {
    	-ms-transform: rotate(180deg); /* IE 9 */
    	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    	transform: rotate(180deg);
    }
    </style>
    <script src="/static/jquery-1.11.3.min.js"></script>
    <script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">

    MinS = 0
    MaxS = 5000
/*
"awb_mode"


    'off'
    'auto'
    'sunlight'
    'cloudy'
    'shade'
    'tungsten'
    'fluorescent'
    'incandescent'
    'flash'
    'horizon'

"brightness" 0..100
"contrast" -100..100

"exposure_compensation" -25..25

"exposure_mode" 
    'off'
    'auto'
    'night'
    'nightpreview'
    'backlight'
    'spotlight'
    'sports'
    'snow'
    'beach'
    'verylong'
    'fixedfps'
    'antishake'
    'fireworks'

"iso" 0, 100, 200, 320, 400, 500, 640, 800, 1600

"warmup" float >= 0

"width" 640, 320, 160, 128, 64, 32
"height" 480, 240, 120, 96, 48, 24
	*/

    g_Objects = []

    function sendServo(id) {
        var query = "/servo/"+id+"/"+$("#s" + id).val()
        $.get( query , function( data ) {});
    }

    function initServos() {
    	getSensors(true);
    }

    function getSensors(forseServos) {
        $.get("/sensors", function(data) {
            eval("res = " + data)
            var sensors = res['sensors']
            var servos = res['servos']
            var compass = res['compass']
            $("#sensor0").css('background-color', sensors[0] > 0 ? "#FF8080": "#80FF80")
            $("#sensor1").css('background-color', sensors[1] > 0 ? "#FF8080": "#80FF80")
            if (forseServos) {
                for (var i = 0; i < 4; i++) {
                    $("#s" + i).val(servos[i])
                    $("#slider" + i).slider( "option", "value", servos[i] )
                }
                $("#gb").val(servos[3])
            }
        })
    }

    function checkCommandStatus(callback) {
    	$.get("/cmdstatus",
    		function(data) {
    			eval("res = " + data)
    			$("#cmd_status").html(res["status"])
    			if ((res["status"] == "ok") || (res["status"] == "fail")){
    				//alert("data=" + data + " result=" + res["result"])
    				if (res["result"] != undefined) {
    					$("#cmd_result").html(data)
    				}
    				callback(res["status"], res["result"])
    			} else {
    				setTimeout(function(){checkCommandStatus(callback)}, 200)
    			}
    		})
    }

    function scheduleSensors() {
        setTimeout(function(){
            if ($("#sensors").val() == "STOP SENSORS") {
                   $("#sensor0").css('background-color',"#303030")
                   $("#sensor1").css('background-color',"#303030")
                   getSensors($("#get_sg").prop('checked'))
            } else {
                $("#sensor0").css('background-color',"#B0B0B0")
                $("#sensor1").css('background-color',"#B0B0B0")
            }
            scheduleSensors()
        }, 300)
    }
    
    function sendCommand(cmd, callback) {
        $.get("/command/" + cmd, function(data) {
              eval("res = " + data)
              if (res["status"] == "ok") {
            	  $("#cmd_result").html("")
            	  checkCommandStatus(callback)
              } else {
            	  $("#cmd_status").html("Cmd Error:" + res["status"])
              }
        })
    }

      $(function() {
        for (var i = 0; i < 4; i++) {
            $( "#slider" + i ).slider({
                               min: MinS,
                               max: MaxS,
                               value: (MinS + MaxS) / 2,
                               change: function( event, ui ) {
                                      $(this).parent().parent().find(".svalue").each(function(){
                                          if ($(this).val() !=  ui.value) {
                                            $(this).val(ui.value)
                                            sendServo(parseInt($(this).attr("id")[1]))
                                          }
                                      })
                               }
            });
        }
        
        $("#lookFrom").slider({
        	min: MinS,
        	max: MaxS,
            value: (MinS + MaxS) / 2,
            change: function( event, ui ) {
                        $("#lookFrom_s").val(ui.value)
                        sendCommand("CmdTestLookPosition(" + ui.value + ")",
                            	function(status, result){
                            		$("#lookFrom_d").html(result["d"])
                            	}
                            )
                    }
        })
        
        $("#lookFrom_send").click(function(){
        	var value = $("#lookFrom_s").val()
        	$("#lookFrom").slider( "option", "value", value )
        })
        
        $("#grabOpen").slider({
        	min: 97,
        	max: 218,
            value: 150,
            change: function( event, ui ) {
                        $("#grabOpen_s").val(ui.value)
                        sendCommand("CmdTestGrabPosition('OPEN', " + ui.value + ")",
                            	function(status, result){}
                            )
                    }
        })
        
        $("#grabOpen_send").click(function(){
        	var value = $("#grabOpen_s").val()
        	$("#grabOpen").slider( "option", "value", value )
        })
        
        $("#grabClosed").slider({
        	min: 97,
        	max: 218,
            value: 150,
            change: function( event, ui ) {
                        $("#grabClosed_s").val(ui.value)
                        sendCommand("CmdTestGrabPosition('CLOSE', " + ui.value + ")",
                            	function(status, result){}
                            )
                    }
        })
        
        $("#grabClosed_send").click(function(){
        	var value = $("#grabClosed_s").val()
        	$("#grabClosed").slider( "option", "value", value )
        })
      });

      function makeCmdButton(caption, args) {
    	  var cell = $("<td/>")
    	  btn = $("<input/>").attr("type", "button").attr("value", caption)
    	  cell.append(btn)
    	  for (var i in args) {
    		  if (args[i].type == "textfield") {
    			  $("<input/>").attr("type", "textfield")
    			               .attr("value", args[i].value)
    			               .attr("id", args[i].id)
    			               .appendTo(cell)
    		  } else {
    			  if (args[i].type == "select") {
    		    	  var basket = $("<select/>").attr("id", args[i].id)
    		    	                             .appendTo(cell)
    		    	  for (var j in args[i].options) {
    		    		  var opt = args[i].options[j]
    		    		  $("<option/>").attr("value", opt.value).html(opt.name).appendTo(basket)
    		    	  }
 
    			  }
    		  }
    	  }
    	  $("<tr/>").append(cell).appendTo($("#commands"))
          return btn
      }

      function sendArgCommand(obj, cmd, callback) {
    	  obj.parent().children().each(function(i){
    		  var id = $(this).attr("id")
    		  if (id != undefined) {
    			  cmd = cmd.replace('$' + id, $(this).val())
    		  }
    	  })
    	  sendCommand(cmd, callback)
      }
      
      function makeCmd(caption, args, cmd) {
    	  makeCmdButton(caption, args).click(function(){
              sendArgCommand($(this), cmd, function(status, result){})
          })
      }

      function makeCmdSensors(caption, args, cmd) {
	      makeCmdButton(caption, args).click(function(){
              sendArgCommand($(this), cmd, function(status, result){
                  setTimeout(function(){getSensors(false)}, 100)
              })
	      })
      }

      function makeCmdPicture(caption, args, cmd) {
    	  makeCmdButton(caption, args).click(function(){
              sendArgCommand($(this), cmd, function(status, result){
          	      g_Objects = result
            	  $('#camera').prop('src', "static/test.jpg?" + Math.random())
              })
          })
      }

      function CreateInput(id, defaultValue) {
    	  return $("<input/>").attr("type", "textfield")
                              .attr("id", id)
                              .attr("value", defaultValue)
      }

      function readExtractorParameters() {
    	  var table = $("#extractorParams")
    	  table.empty()
          sendCommand("CmdExtractorGetParameters()", function(status, result){
        	  $.each(result, function (key, value) {
        		  var inp = CreateInput(key, value)
        		  $("<tr/>").append($("<td/>").html(key))
        		            .append($("<td/>").append(inp.addClass("extractorParameters")))
        		            .appendTo(table)
              });
        	  $("<input/>").attr("type", "button")
        	               .attr("value", "READ")
        	               .click(function(){
        	            	   readExtractorParameters()
        	                })
        	               .appendTo($("<td/>").appendTo($("<tr/>").appendTo(table)))

        	   $("<input/>").attr("type", "button")
							.attr("value", "WRITE")
							.click(function(){
								var values = {}
								$.each($(".extractorParameters"), function(){
       	                			values[this.id] = this.value
								})
								sendCommand("CmdExtractorSetParameters(" + JSON.stringify(values) + ")", function(status, result){
       	                		readExtractorParameters()
								})
							})
							.appendTo($("<td/>").appendTo($("<tr/>").appendTo(table)))
          })
      }

function JSONImage(canvas) {

    var This = {
    	Canvas: canvas,
    	Ctx: canvas[0].getContext('2d'),
        Scale: 1,
        
        LoadImage: function(data, file){
            this.Width = data["width"]
            this.Height = data["height"]
            this.Depth = data["depth"]
            this.Data = data["data"]
			this.File = file
            this.Draw()
        },
        
        GetFromServer: function(file) {
            jsonImage = this
            $.ajax({url: "/dumps/" + file,
                    dataType: "json"})
             .done(function(json){
                 jsonImage.LoadImage(json, file)
             })
        },

        Draw: function() {
			this.DrawImage()
		},
        
        DrawImage : function() {
			
			if (this.Data == undefined) {
				return false
			}

            this.Canvas[0].width = this.Width * this.Scale
            this.Canvas[0].height = this.Height * this.Scale
            
            for (var y = 0; y < this.Height; y++) {
                for (var x = 0; x < this.Width; x++) {
                    this.DrawCell(x, y)
                }
            }
            
            return true
        },

        DrawCell : function(x, y){
            var i = (y * this.Width + x) * this.Depth
            this.Ctx.fillStyle = 'rgb(' + this.Data[i] + ',' + this.Data[i+1] + ',' + this.Data[i+2] + ')' ;
            this.Ctx.fillRect(x * this.Scale, y * this.Scale, this.Scale, this.Scale);
        },
    }

    return This
}

function LearningJSONImage(canvas,
							dumpNameObj,
							xobj,
							yobj,
							rinobj,
							routobj,
							labelsobj,
							metadata) {
	This = JSONImage(canvas)

	This.DumpNameObj = dumpNameObj
	This.XObj = xobj
	This.YObj = yobj
	This.RInObj = rinobj
	This.ROutObj = routobj
	This.LabelsObj = labelsobj
	This.Metadata = metadata
	This.CurrentFile == undefined

	This.Draw = function() {
		if (this.File != this.CurrentFile) {
			if ("images" in this.Metadata.Data && this.File in this.Metadata.Data.images) {
				var imgMetadata = this.Metadata.Data.images[this.File]
				this.XObj.val(imgMetadata.X)
				this.YObj.val(imgMetadata.Y)
				this.RInObj.val(imgMetadata.RIn)
				this.ROutObj.val(imgMetadata.ROut)
				this.LabelsObj.val(imgMetadata.Labels)
			} else {
				this.XObj.val(this.Width / 2)
				this.YObj.val(this.Height / 2)
				this.RInObj.val(this.Height / 8)
				this.ROutObj.val(this.Height / 4)
				this.LabelsObj.val("")
			}
			this.DumpNameObj.text(this.File)
			this.CurrentFile = this.File
		}

		if (this.DrawImage()) {
			var x = this.XObj.val() * this.Scale
			var y = this.YObj.val() * this.Scale
			var r1 = this.RInObj.val() * this.Scale
			var r2 = this.ROutObj.val() * this.Scale

			this.Ctx.beginPath()
			this.Ctx.arc(x, y, r1, 0, 2 * Math.PI, false);
			this.Ctx.arc(x, y, r2, 0, 2 * Math.PI, false);
			this.Ctx.strokeStyle = '#FFFFFF';
			this.Ctx.stroke();
		}
	}
	
	This.Save = function(success){
		learningImage = this
		this.Metadata.Update(function(data){
			if (!("images" in data)) {
				data.images = {}
			}
			data.images[learningImage.File] = {X: learningImage.XObj.val(),
											   Y: learningImage.YObj.val(),
											   RIn: learningImage.RInObj.val(),
											   ROut: learningImage.ROutObj.val(),
											   Labels: learningImage.LabelsObj.val()}
		},
		success)
	}

	return This
}

function MetadataManagement(callback) {
    var This = {
        
        Data: undefined,
        
        Load: function(callabck) {
            mm = this
            $.ajax({url: "/metadata",
                    dataType: "json"})
             .done(function(json){
                 mm.Data = json
                 callback(mm.Data)
             })
        },
        
        Update: function(updateFunc, successFunc){
            mm = this
            $.ajax({url: "/metadata",
                    dataType: "json"})
             .done(function(json){
                 mm.Data = json
                 updateFunc(mm.Data)
                 $.ajax({type: "POST",
						 url: "/metadata",
						 data: {text: JSON.stringify(mm.Data)},
						 success: successFunc
						 })
             })
		}
    }
    
    This.Load(callback)
    
    return This
}

function TagsFilter(filter) {
	if (filter.length > 0 && (filter[0] != '+' || filter[0] != '-')) {
		filter = '+' + filter
	}

	return {
		Filter: filter.match(/[+-|][^-+|]*/g),
		Check: function(tagsSet) {
			var inc = true
			for (var i in this.Filter) {
				var op = this.Filter[i][0]
				if (op == '|') {
					if (inc) {
						return true
					}
					inc = true
				} else {
					if (inc) {
						var tagIn = this.Filter[i].substr(1) in tagsSet
						if (op == '+') {
							inc = tagIn
						} else {
							if (op == '-') {
								inc = !tagIn
							}
						}
					} 
				}
			}
			return inc
		}
	}
}


Dumps = []

function UpdateDumps() {

	console.log("UpdateDumps:" + Dumps)

	var sel = $("#dumps").empty()
	var allTags = {}
	var filter = TagsFilter($("#flabels").val())
	$.each(Dumps, function(idx, value){
		tagsSet = {}
		if ("images" in Metadata.Data && value in Metadata.Data.images) {
			tagsList = Metadata.Data.images[value].Labels.split(",")
			for (var i in tagsList) {
				allTags[tagsList[i]] = 1
				tagsSet[tagsList[i]] = 1
			}
			tags = " " + Metadata.Data.images[value].Labels
		} else {
			tags = ""
		}

		if (!filter.Check(tagsSet)) {
			return
		}

		$("<option/>").text(value + tags)
					  .val(value)
					  .appendTo(sel)
	})

	$("#dump_tags").empty()
	for (var tag in allTags) {
		$("<a/>").text(tag)
				 .appendTo($("#dump_tags"))
				 .click(function(){
					var tags = $("#llabels").val()
					if (tags != "") {
						tags += ","
					}
					$("#llabels").val(tags + $(this).text())
				 })
		$("<span/>").text(", ")
					.appendTo($("#dump_tags"))
	}
}

var DumpImage = undefined
var Metadata  = undefined

    $(document).ready(function() {

          $("#send0").click(function() {
              sendServo(0)
          })
          $("#send1").click(function() {
              sendServo(1)
          })
          $("#send2").click(function() {
              sendServo(2)
          })
          $("#send3").click(function() {
              sendServo(3)
          })

          $("#sensors").click(function(){
               if ($("#sensors").val() == "PULL SENSORS") {
                   $("#sensors").val("STOP SENSORS")
                } else {
                   $("#sensors").val("PULL SENSORS")
                }
          })

     	  makeCmdButton("SHUDOWN", []).click(function(){
              $.get( "/shutdown" , function( data ) {
                  $("#response").html(data);
              });
    	  })
          makeCmd("COMMAND", [{type:"textfield", id:"c"}], "CmdCommand('$c')")
          makeCmd("HEAD RIGHT", [{type:"textfield", id:"s", value:"0.4"}, {type:"textfield", id:"a", value:""}], "CmdCommand('BR$s:$a')")
          makeCmd("HEAD LEFT",  [{type:"textfield", id:"s", value:"0.4"}, {type:"textfield", id:"a", value:""}], "CmdCommand('BL$s:$a')")
    	  makeCmdSensors("OPEN", [], "CmdOpen()")
    	  makeCmdPicture("CONTROL AND D", [{type:"select", id: "t", "options": [{name:"Farthest", value:"FARTHEST"}, {name:"Closest", value:"CLOSEST"}, {name:"Middle", value:"MID"}]}], "CmdSetControlPoint('$t', 'test.jpg')")
    	  makeCmd("CONTROL ONLY", [{type:"select", id: "t", "options": [{name:"Farthest", value:"FARTHEST"}, {name:"Closest", value:"CLOSEST"}, {name:"Middle", value:"MID"}]}], "CmdSetControlPoint('$t', None)")
    	  makeCmd("GET CONTROLS", [], "CmdGetControlPoints()")
    	  makeCmd("GRAB AT", [{type:"textfield", value:"150", id:"d"}], "CmdIGrabAt($d)")
    	  makeCmd("PICK AT", [{type:"textfield", value:"150", id:"d"},{type:"select", id:"basket", options:[{name:"RIGHT", value:"0"},{name:"LEFT", value:"1"}]}], "CmdIGrabAtAndPlace($d,$basket)")
          makeCmd("GRAB FROM VIEW", [{type:"select", id:"basket", options:[{name:"RIGHT", value:"0"},{name:"LEFT", value:"1"}]}], "CmdIGrabFromAndPlace($basket)")
          makeCmdPicture("PREVIEW", [], "CmdIPreview('test.jpg')")
          makeCmdPicture("LOOK", [], "CmdILook('test.jpg')")
          makeCmdPicture("FIND", [], "CmdIFind('test.jpg')")
          makeCmd("FIND AND PICK", [], "CmdIFindAndGrab()")
          makeCmdPicture("START NAVIGATE", [], "CmdStartNavigate('test.jpg')")
          makeCmd("GRAB at XY", [{type:"textfield", value:"160", id:"x"}, {type:"textfield", value:"120", id:"y"}], "CmdGrabAtXY($x,$y)")
          

          $("#move_forward").click(function(){
              sendCommand("CmdMoveForward(" + $("#move_time").val() + ")",
            		  function(status, result){
                      })
          })

          $("#move_back").click(function(){
              sendCommand("CmdMoveBack(" + $("#move_time").val() + ")",
            		  function(status, result){
                      })
          })

          $("#move_left").click(function(){
              sendCommand("CmdMoveLeft(" + $("#move_time").val() + ")",
            		  function(status, result){
                      })
          })

          $("#move_right").click(function(){
              sendCommand("CmdMoveRight(" + $("#move_time").val() + ")",
            		  function(status, result){
                      })
          })
          
          $("#move_Move").click(function(){
              sendCommand("CmdMove(" + $("#move_X").val() + "," + $("#move_B").val() + ")",
            		  function(status, result){
                      })
          })
          
          $("#camera").click(function(e){
            var posX = $(this).offset().left
            var posY = $(this).offset().top
            sendCommand("CmdMoveToViewAndPreview(" + (e.pageX - posX) + ',' + (240 - (e.pageY - posY)) + ", 'test.jpg')",
                function(status, result){
                    $('#camera').prop('src', "static/test.jpg?" + Math.random())
                });
          })
          
          $("#loaddumps").click(function(){
              $.ajax({url: "/dumps",
                      dataType: "json"})
               .done(function(json){
						Dumps = json
						UpdateDumps()
               })
          })

          $("#dumps").change(function(){
              $(this).find("option:selected" )
                     .each(function(){
                         DumpImage.GetFromServer($(this).val())
                     })
          })
          
          $("#zoomin").click(function(){
              DumpImage.Scale = parseInt($("#scale").text()) + 1
              console.log("Scale:"+DumpImage.Scale)
              DumpImage.Draw()
              $("#scale").text(DumpImage.Scale)
              
          })
          
          $("#zoomout").click(function(){
              DumpImage.Scale = parseInt($("#scale").text()) - 1
              console.log("Scale:"+DumpImage.Scale)
              if (DumpImage.Scale < 1) {
                  DumpImage.Scale = 1
              }
              DumpImage.Draw()
              $("#scale").text(DumpImage.Scale)
          })

        $("#save_learning").click(function(){
			DumpImage.Save(function(){
				UpdateDumps()
			})
		})

		$("#update_learning").click(function(){
			DumpImage.Draw()
		})

		$("#test_learning1").click(function(){
            sendCommand("CmdTestDump('" + DumpImage.DumpNameObj.text() + "','test.jpg', 2)",
                function(status, result){
                    $('#camera').prop('src', "static/test.jpg?" + Math.random())
                });
		})

		$("#test_learning2").click(function(){
            sendCommand("CmdTestDump('" + DumpImage.DumpNameObj.text() + "','test.jpg', 1)",
                function(status, result){
                    $('#camera').prop('src', "static/test.jpg?" + Math.random())
                });
		})

		$("#delete_learning").click(function(){
			var dump = DumpImage.DumpNameObj.text()
			if (confirm("Delete " + dump + " ?")) {
				sendCommand("CmdDeleteDump('" + dump + "')",
					function(status, result){
						$("#loaddumps").click()
					});
			}
		})

		$("#vlearn").click(function(){
			var tags = $("#flabels").val()
			var dumps = ""
			var sep = ""
			$("#dumps").find("option")
					   .each(function(i, e) {
							dumps += sep + "'" + $(e).val() + "'"
							sep = ","
						})
			var cmd = "CmdLearnDLearning('" + tags + "',[" + dumps + "])"
			console.log(cmd)
			sendCommand(cmd,
				function(status, result){
					readExtractorParameters()
				})
		})

		Metadata = MetadataManagement(function(){
			$("#loaddumps").click()
		})

		DumpImage = LearningJSONImage($("#dump"),
									  $("#ldump"),
									  $("#lcx"),
									  $("#lcy"),
									  $("#lro"),
									  $("#lrb"),
									  $("#llabels"),
									  Metadata)

        readExtractorParameters()

        scheduleSensors()

        initServos()
      })
    </script>
  </head>
  <body>
    <table>
      <tr>
        <td><h1>Low level control</h1></td>
        <td><h1>Location</h1></td>
        <td><h1>Geometry</h1></td>
      </tr>
      <tr>
        <td>
          <table>
          	<tr>
          		<td>GRIPPER</td>
          		<td><div id="slider0" style="width:300px;"></div></td>
          		<td><input id="s0" class="svalue" type="textfield" value="2500" width="3" /></td>
      			<td><input id="send0" type="button" value=">"/></td>
          	</tr>
          	<tr>
      			<td>G</td>
          		<td><div id="slider1" style="width:300px;"></div></td>
          		<td><input id="s1" class="svalue" type="textfield" value="2500" width="3" /></td>
      			<td><input id="send1" type="button" value=">"/></td>
          	</tr>
          	<tr>
      			<td>A</td>
          		<td><div id="slider2" style="width:300px;"></div></td>
          		<td><input id="s2" class="svalue" type="textfield" value="2500" width="3" /></td>
      			<td><input id="send2" type="button" value=">"/></td>
          	</tr>
          	<tr>
      			<td>B</td>
          		<td><div id="slider3" style="width:300px;"></div></td>
          		<td><input id="s3" class="svalue" type="textfield" value="2500" width="3" /></td>
      			<td><input id="send3" type="button" value=">"/></td>
          	</tr>
          	<tr>
          		<td></td>
      		</tr>
          	<tr>
          		<td>
          			<div id="sensor0">sensor 0</div>
          			<div id="sensor1">sensor 1</div>
          			<div id="compass0">compass 0</div>
          			<div id="compass1">compass 1</div>
          			<div id="compass2">compass 2</div>
          		</td>
          		<td>
          			<input id="sensors" type="button" value="PULL SENSORS"/>
          			<input id="get_sg" type="checkbox"/>SERVO/GEOMETRY
          		</td>
          	</tr>
          </table>
        </td>
        <td>
        	<table>
        		<tr>
          			<td>LOOK A</td>
      				<td><div id="lookFrom" style="width:200px;"></div></td>
      				<td><input id="lookFrom_s" type="textfield" value="2500" width="3" /></td>
      				<td><input id="lookFrom_send" type="button" value=">"/></td>
      				<td>d=<span id="lookFrom_d">-</span></td>
      			</tr>
      			<tr>
          			<td>GRAB OPEN</td>
      				<td><div id="grabOpen" style="width:200px;"></div></td>
      				<td><input id="grabOpen_s" type="textfield" value="180" width="3" /></td>
      				<td><input id="grabOpen_send" type="button" value=">"/></td>
      			</tr>
      			<tr>
      				<td>GRAB CLOSED</td>
      				<td><div id="grabClosed" style="width:200px;"></div></td>
      				<td><input id="grabClosed_s" type="textfield" value="180" width="3" /></td>
      				<td><input id="grabClosed_send" type="button" value=">"/></td>
      			</tr>
      		</table>
        </td>
      </tr>
    </table>
    <table>
     <tr>
       <th>Camera</th>
       <th>Commands</th>
       <th>Objects</th>
     </tr>
     <tr>
       <td>
	     <table id="extractorParams"></table>
	   </td>
	   <td>
	     <table id="commands">
		</table>
	   </td>
	   <td>
	     <table id="obj_table"></table>
	   </td>
	   <td>
	     <table>
	        <tr>
	          <td></td>
	          <td><input type="button" id="move_forward" value="^"></td>
	          <td></td>
	        </tr>
	        <tr>
	          <td><input type="button" id="move_left" value="<"></td>
	          <td><input type="textfield" id="move_time" value="3"></td>
	          <td><input type="button" id="move_right" value=">"></td>
	        </tr>
	        <tr>
	          <td></td>
	          <td><input type="button" id="move_back" value="v"></td>
	          <td></td>
	        </tr>
	     </table>
	     <table>
	        <tr>
	          <td>B=<input type="textfield" id="move_B" value="0"/></td>
	          <td>X=<input type="textfield" id="move_X" value="100"/></td>
	          <td><input type="button" id="move_Move" value="Move"></td>
	        </tr>
	     </table>
	   </td>
	 </tr>
	</table>
    <table>
		<tr>
			<td>Status: <span id="cmd_status" /></td>
		</tr>
		<tr>
			<td>Result: <span id="cmd_result" /></td>
		</tr>
	</table>

    <table>
        <tr>
            <td>
                <img id="camera" class="rotate180"/>
                <canvas id="dump"/>
            </td>
        </tr>
        <tr>
			<td>
				<input type="button" value="-" id="zoomout"/>&nbsp;<label id="scale">1</label>&nbsp;<input type="button" value="+" id="zoomin"/>
			</td>
		</tr>
		<tr>
			<td>
                <table>
					<tr>
						<th>Dumps</th>
						<th>Selected</th>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td id="list_tags"/>
								</tr>
								<tr>
									<td>
										Tags:<input type="textfield" id="flabels" />
									</td>
								</tr>
								<tr>
									<td>
										<select id="dumps" size=15 multiple/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="button" id="loaddumps" value="RELOAD"/>&nbsp;
										<input type="button" id="vlearn" value="V-LEARN"/>&nbsp;
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td>
										Dump: <label id="ldump" />
									</td>
								</tr>
								<tr>
									<td id="dump_tags"/>
								</tr>
								<tr>
									<td>
										Tags: <input type="textfield" id="llabels" />
									</td>
								</tr>
								<tr>
									<td>
										Center: (<input type="textfield" id="lcx" size=1 value="160"/>,<input type="textfield" id="lcy" size=1 value="120"/>)
									</td>
								</tr>
								<tr>
									<td>
										Robj=<input type="textfield" id="lro" size=1 value="40"/> Rbg=<input type="textfield" id="lrb" size=1 value="80"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="button" value="UPDATE" id="update_learning">
										<input type="button" value="SAVE" id="save_learning">
										<input type="button" value="TEST L1" id="test_learning1">
										<input type="button" value="TEST L2" id="test_learning2">
										<input type="button" value="DELETE" id="delete_learning">
									</td>
								</tr>
							</table>
						</td>
					</tr>
                </table>
			</td>
		</tr>
    </table>
   
    <h3>commands</h3>
    <ul>
      <li><B>R</B>pin - read pin</li>  
      <li><B>L</B>pin - set pin LOW</li>  
      <li><B>H</B>pin - set pin HIGH</li>  
      <li><B>S</B>[L|R] - stepper step Left or Right</li>  
      <li><B>D</B>sec - stepper delay</li>  
      <li><B>X</B>[s|d]num - static/dynamic compass row data, num samples</li>  
      <li><B>C</B>[s|d]num - static/dynamic compass azimuth, num samples</li>
      <li><B>P</B>channel<B>:</B>value - set servo value</li>
      <li><B>M</B>channel<B>:</B>min<B>:</B>max - set servo min and max</li>
      <li><B>B</B>[L|R]sec:sec - move and record the head motor Left or Right for specified sec, continue to record after stop for specified sec</li> 
    </ul>    
    <h3>pins</h3>
    <table border = 3>
      <tr>
          <td>{{ pins[39] }}</td>
          <td>{{ pins[37] }}</td>
          <td>{{ pins[35] }}</td>
          <td>{{ pins[33] }}</td>
          <td>{{ pins[31] }}</td>
          <td>{{ pins[29] }}</td>
          <td>{{ pins[27] }}</td>
          <td>{{ pins[25] }}</td>
          <td>{{ pins[23] }}</td>
          <td>{{ pins[21] }}</td>
          <td>{{ pins[19] }}</td>
          <td>{{ pins[17] }}</td>
          <td>{{ pins[15] }}</td>
          <td>{{ pins[13] }}</td>
          <td>{{ pins[11] }}</td>
          <td>{{ pins[9] }}</td>
          <td>{{ pins[7] }}</td>
          <td>{{ pins[5] }}</td>
          <td>{{ pins[3] }}</td>
          <td>{{ pins[1] }}</td>
      </tr>
      <tr>
          <td bgcolor="black">G</td>
          <td>26</td>
          <td>19</td>
          <td>13</td>
          <td>6</td>
          <td>5</td>
          <td>I2C0 SDA</td>
          <td bgcolor="black">G</td>
          <td>11</td>
          <td>9</td>
          <td>10</td>
          <td bgcolor="orange">3.3V</td>
          <td>22</td>
          <td>27</td>
          <td>17</td>
          <td bgcolor="black">G</td>
          <td>4</td>
          <td>3</td>
          <td>2</td>
          <td bgcolor="orange">3.3V</td>
      </tr>
      <tr>
          <td>21</td>
          <td>20</td>
          <td>16</td>
          <td bgcolor="black">G</td>
          <td>12</td>
          <td bgcolor="black">G</td>
          <td>I2C SCL</td>
          <td>7</td>
          <td>8</td>
          <td>25</td>
          <td bgcolor="black">G</td>
          <td>24</td>
          <td>23</td>
          <td bgcolor="black">G</td>
          <td>18</td>
          <td>15</td>
          <td>14</td>
          <td bgcolor="black">G</td>
          <td bgcolor="red">5V</td>
          <td bgcolor="red">5V</td>
      </tr>
      <tr>
          <td>{{ pins[40] }}</td>
          <td>{{ pins[38] }}</td>
          <td>{{ pins[36] }}</td>
          <td>{{ pins[34] }}</td>
          <td>{{ pins[32] }}</td>
          <td>{{ pins[30] }}</td>
          <td>{{ pins[28] }}</td>
          <td>{{ pins[26] }}</td>
          <td>{{ pins[24] }}</td>
          <td>{{ pins[22] }}</td>
          <td>{{ pins[20] }}</td>
          <td>{{ pins[18] }}</td>
          <td>{{ pins[16] }}</td>
          <td>{{ pins[14] }}</td>
          <td>{{ pins[12] }}</td>
          <td>{{ pins[10] }}</td>
          <td>{{ pins[8] }}</td>
          <td>{{ pins[6] }}</td>
          <td>{{ pins[4] }}</td>
          <td>{{ pins[2] }}</td>
      </tr>
    </table>
    <ul>
      <li><B>S</B> - sensors</li>  
      <li><B>ST</B> - stepper</li>
      <li><B>M</B> - motors</li>      
      <li><B>I2C-1</B> - servo and static compass</li>      
      <li><B>I2C-0</B> - dynamic compass</li>      
    </ul>
  </body>
</html>
